html,
body,
*{
  margin: 0rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
    background-color: var(--primary);
}

:root {
   /*colors*/
    --dark-blue: #12376f;
    --light-blue: #b8e2f4;
    --light-pink: #ffb6c1;
    --off-white: #FAF9F6;
    --black: #000;
    --grey: #e6e6e6; 
    --dark-purple: #e090df;
    /*Intentions*/
    --primary: var(--light-blue)
    --secondary: var(--light-pink);
    /*Text Size*/
    --h1: 7.594rem;
    --h2: 5.063rem;
    --h3: 3.375rem;
    --h4: 2.25rem;
    --h5: 1.5rem;
    --h6: 1rem;
}

h1 {
    font-size: var(--h1);
    color: var(--h1color);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
h6 {
    font-size: var(--h6);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.lightmode {
    --primary: var(--light-blue);
    --secondary: var(--light-pink);
    --card: var(--light-pink);
    --h1color: var(--black);
    --buttons: var(--off-white)
}

.darkmode {
    --primary:var(--dark-purple);
    --secondary: var(--black);
    --card: var(--off-white);
    --h1color: var(--grey);
    --buttons: var(--off-white)
}

.header-text {
    font-size: var(--h1);
    margin: 2rem auto;
}

#container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.card {
    height: 50vh;
    width: 20vw;
    display: flex;  
    flex-direction: column;
    justify-items: center;
    margin: 2rem;
    background-color: var(--card);
    border-radius: 1rem;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.1);
}

.card-img{
    height: 75%;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: center;
}

.filterButton, #Theme{
    justify-content: space-evenly;
    background: var(--buttons);
    font-size: var(--h5);
    height: auto;
    width: 10rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1.5rem;
}